@use '@/styles/variables' as *;

.productPrice {
    display: inline-flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: .5rem;
    del { color: rgba($color-text, .65); font-size: .85em; font-weight: 400; text-decoration-thickness: 1px; }
}
